
<audio controls autoplay style="display: none;">
    <source src="../../../assets/sonidoKeyboar.mp3" type="audio/ogg">
 </audio>
 <iframe style="display: none;" width="560" height="315" src="https://www.youtube.com/embed/sTt026NTQfE?autoplay=1;controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<header>

    <app-menu></app-menu>    
    <div class="blur"></div>
    <div class="foto">
    </div>

    <div class="letras">
        <h1>Hola, Soy Noah</h1>
        <h3>Programador Front-end, Mucho Gusto!</h3>
        
    </div>
</header>
