<section class="tecno-contenedor">
    <h1>Tecnologías que utilizo.</h1>
    <div class="tecno-web" *ngFor="let tipo of tecnologias;">
        <h1>{{tipo.name}}</h1>
        <div class="contenedor-tecnologias">
            <mat-card class="cards" *ngFor="let tecnologia of tipo.herramientas;">
                <mat-card-header>
                    <mat-card-title>{{tecnologia.name}}</mat-card-title>
                    <mat-card-subtitle><b>Version:</b>  {{tecnologia.version}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="tecnologia.logo" alt="Imagen Tecnologia">
                <mat-card-content>
                    <h3><b>Porcentaje:</b> %{{tecnologia.value}}</h3>
                    <section class="example-section">
                        <mat-progress-bar
                            class="example-margin"
                            [color]="tecnologia.color"
                            mode="buffer"
                            [value]="tecnologia.value"
                            bufferValue="0">
                        </mat-progress-bar>
                      </section>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>