.tecno-contenedor{
    width:100%;
}
.tecno-contenedor h1{
    font-family: "Poppins";
    font-size:50px;
    text-align: center;
}

.tecno-contenedor h1::after {
    content:'';
    width:0px;
    height:3px;
    display:block;
    background:#15743C;
    transition:300ms;
}

.tecno-web{
    width:100%;
}
.tecno-web h1{
    font-family: "Poppins";
    font-size:30px;
}
.contenedor-tecnologias{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
}
.cards{
    width:250px;
    height:auto;
    box-shadow:2px 2px 5px #000;
}

.mat-card-image{
    width:100%;
    margin:auto;
    border-radius:10px;
}
.mat-progress-bar{
    height: 8px;
}


