
@font-face{
    src:url(./assets/fonts/Poppins-Regular.ttf);
    font-family:"Poppins";
}
@font-face{
    src:url(./assets/fonts/Yellowtail-Regular.ttf);
    font-family:"Carta";
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}
